.header {
    padding-top: 33px;
    padding-bottom: 102px;
    background: $linear-background;
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 1279px) {
            padding: 0 35px;
        }
    }
    &-logo {
        @media screen and (max-width: 767px) {
            max-width: 133px;
        }
    }
}
